// Typography
html {
  font-size: $base-font-size;
}

@mixin font-ArialBold($size,$line-height) {
  font: {
    family: Arial;
    weight: bold;
    size: $size;
  }
  line-height: $line-height;
}

@mixin font-ArialRegular($size,$line-height) {
  font: {
    family: Arial;
    weight: normal;
    size: $size;
  }
  line-height: $line-height;
}

.h1{
  @include font-ArialBold(2.5rem,2.3rem);
  color: $color-content__h2;
  margin-top: 8px;
}

.h2{
  @include font-ArialBold(2.5rem,2.3rem);
  color: $color-content__h2;
  margin-top: 8px;
}

.h3{
  @include font-ArialBold(1.5rem,2.3rem);
  color: $color-content__h2;
  margin-top: 8px;
  margin-bottom: 25px;
}

.text{
  @include font-ArialRegular(1rem, normal);
  padding-bottom: 35px;
  border-bottom: 1px solid $color-bottom-line;
  margin-bottom: 34px;
}