$base-font-size: 12px;
$color-menu__item: #616868;
$color-menu__item--hover: #ca0e00;
$color-content__h2: #ca0e00;
$color-bottom-line: #bfd0d5;
$color-news-item__date: #ca0e00;
$color-news-item__link: #5a92b1;
$color-bg-news-all: #f4f4f4;
$color-bg-news-all-marker: #e4e1e3;
$color-footer-bg: #e7e8e8;
$color-footer-border: #ca0e00;
$color-footer-astra: #ca0e00;
$color-contacts: #fff;
$color-phone-prefix: #E6A2A2;
$color-phone-number: #fcfcfc;